name: CI

on:
    push:
        branches:
            - main
            - feature/*

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                # https://www.python.org/downloads/
                python-version: [
                        "3.10", # EOL: 2026-10
                        "3.11", # EOL: 2027-10
                        "3.12", # EOL: 2028-10
                        "3.13", # EOL: 2029-10
                    ]
        name: ${{ matrix.python-version }}
        steps:
            - uses: actions/checkout@v4

            - name: Setup uv
              uses: astral-sh/setup-uv@v4
              with:
                  enable-cache: true

            - name: Setup Python ${{ matrix.python-version }}
              run: uv python install ${{ matrix.python-version }}

            - name: CI checks
              run: make
